<app-selector (update)="handleLeageSelection($event)"></app-selector>
<app-tipping-grid [rounds]="rounds" [selected]="selected" (selection)="selection($event)"></app-tipping-grid>
<tipping-save (clear)="clearSelection($event)" (save)="saveSelection($event)"></tipping-save>
<br>
<div class="ui left aligned container">
    <div class="ignored ui warning message">
        Based on your tips, you could win ${{ getMultiWinReturn(10) }} with a $10 investment
    </div>
</div>
<br>
Gamble Responsibly, Gamblers Help 1800 858 858
<br><br>